* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	width: 100vw;
	height: 10vh;
	background: darkcyan;
	flex-direction: column;
}

.element {
	position: absolute;
	background: cyan;
}
